.banner_container {
 margin-bottom: 100px;
}

.banner_header {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.slider {
  width: 700px;
  height: 200px;

  /* Пагинация сбоку */
  :global {
    .swiper-pagination {
      right: 10px;
      left: auto;
    }

    .swiper-pagination-bullet {
      background: #FFE0B2;
      opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}

.banner {
  height: 100%;
  color: #FFE0B2;
  padding: 30px;

  .banner_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .banner_text {
    font-size: 20px;
    font-weight: 400;
  }
}

.banner1 {
  background: #001529;
}

.banner2 {
  background: #004E7C;
}

.banner3 {
  background: #2A5D34;
}
