.parallax_container {
  width: 1000px;
  margin-bottom: 100px;
}

.parallax_header {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.mySwiper {
  --swiper-navigation-color: #ffe0b2;
  height: 500px;
  width: 100%;
  background: #000;
}

.slide {
  font-size: 18px;
  color: #ffe0b2;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.parallax_bg {
  background-image: url(/img/08.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.slide .title {
  font-size: 40px;
  margin-bottom: 20px;
}

.slide .subtitle {
  font-size: 25px;
  margin-bottom: 10px;
}

.slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
