.button {
  all: unset;
  cursor: pointer;
  display: inline-block;
  border-radius: 6px;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

  &--primary {
    color: #F5F3F0;
    background-color: #001529;
    border: 1px solid #001529;

    &:hover {
      background-color: #004E7C;
      border-color: #004E7C;
    }
  }

    &--secondary {
    color: #001529;
    background-color: #FFE0B2;
    border: 1px solid #001529;

    &:hover {
      box-shadow: #FFE0B2;
    }
  }

  &--small {
    padding: 5px 10px;
  }

  &--medium {
    padding: 7px 14px;
  }

  &--big {
    padding: 10px 18px;
  }

  &--disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.25);
    background-color: #e6e6e60a;
    border: 1px solid #d9d9d9;

    &:hover {
      color: rgba(0, 0, 0, 0.25);
      background-color: #e6e6e60a;
      border: 1px solid #d9d9d9;
    }
  }
}
