.pagination {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination > :last-child {
  position: absolute;
  right: 0;
}

