.cards_container {
  width: 700px;
  height: 700px;
}

.cards_header {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.mySwiper {
  width: 350px;
  height: 500px;
}

.slide {
  border-radius: 18px;
  border: 2px solid #FFE0B2;
}