.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #001529;
  height: 64px;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
}