.dashboard_.container {
    width: 100%;
}

.dashboard_.header {
    margin-bottom: 50px;
    text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;

  .top_card {
    grid-column: span 3;
  }

  .bottom_card {
    grid-column: span 2;
  }
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  h3 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 25px;
  }

  canvas {
    max-height: 260px;
  }
}
